@import '../../../assets/styles/variables.less';

.sidebar {
    width: 180px;
    background: @background;
    border-right: 1px solid white;
    height: 100vh;
    text-align: center;
}

.logo {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 160px;
    border-bottom: 1px solid white;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    color: @white;
    padding: 10px;
    border-bottom: 1px solid @white;
}

li:hover {
    background: #10447d;
    transition: linear 300ms;
}

li:active {
    background: @cyan;
}