<cs-header>
  <p levels>cars service</p>
  <div content>
    <p>List of cars in service</p>
  </div>
</cs-header>

<!-- <cs-total-cost [totalCosts]="totalCosts" (shownGross)="onShownGross($event)"></cs-total-cost>

<div class="row" *ngIf="grossCost">
  <div class="col-sm-12">
    <p class="text-right">TOTAL GROSS: {{grossCost}} PLN</p>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <cs-loading-spi *ngIf="showSpinner"></cs-loading-spi>
      <input class="search-bar" type="text" name="Search" (keyup)="textChange($event)" placeholder="Search car by model">
      <table *ngIf="cars && cars.length > 0; else noCarsInfo" class="cs-table table ">
        <thead>
          <tr>
            <th csImportant>car</th>
            <th csImportant>plate</th>
            <th csImportant>delivery date</th>
            <th csImportant>deadline</th>
            <th csImportant>client</th>
            <th csImportant>cost</th>
            <th csImportant>action</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let car of cars" class="row-car" (click)="goToCarDetails(car)">
            <td [ngClass]="{'row-error': car?.isFullyDamaged}">{{ car?.model | uppercase}}</td>
            <td>{{ car?.plate }}</td>
            <td>{{ car?.deliveryDate | date:shortDate}}</td>
            <td>{{ car?.deadline | date:shortDate}}</td>
            <td>{{ car?.clientFirstName }} {{ car?.clientSurname | surnameShortcut}}</td>
            <td>{{ car?.cost | currency:'USD':true }}</td>
            <td class="row-remove" (click)="removeCar(car, $event)">
              <fa-icon [icon]="faTrashAlt"></fa-icon>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #noCarsInfo>
        <div class="no-cars-info">
          <p>No cars in service</p>
        </div>
      </ng-template>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-sm-12 total-cost">
      <button (click)="showGross()" class="btn btn-primary btn-sm float-left">
        SHOW GROSS
      </button>
      <p class="text-right">TOTAL COST: {{ totalCosts }} PLN</p>
    </div>
  </div> -->

  <!-- <cs-total-cost #totalCostRef [totalCosts]="totalCosts" (shownGross)="onShownGross($event)"></cs-total-cost> -->
</div>

